@media screen and (max-width: 400px) {

    body{
      background-size: 100% 100%;
    }
    .page-wrapper {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: auto;;
    }

    .main{
      grid-column: 1;
      grid-row: unset;
    }

    .intro{
     display: grid;
     grid-gap: 5px;
     grid-template-columns: unset;
     grid-template-rows: 300px auto auto auto;
     grid-row: unset;
     grid-column: 1/2;
    }

    header {
      display: unset;
      grid-gap: unset;
      grid-template-columns: unset;
      grid-column: unset;
      grid-row: 1;
      margin:10px;
  }

    .sidebar {
      display: unset;
      grid-row: unset;
      grid-column: 1/5;
      grid-template-columns: unset;
      object-fit:fill;
     }

    .wrapper{
        display: grid;
        grid-gap: 0px;
        grid-template-columns: auto auto auto ;
        grid-template-rows: unset;
  
    }

    .summary{
      grid-column: unset;
      grid-row: unset;
    }

    .preamble{
      grid-column: unset;
      grid-row: 3/5;
    }

    footer{
      font-size: unset;
      text-align: left;
    }
  
  footer a {
      padding: 0px;
      font-size: 1.4em;
      margin: 10px;
      font-style: italic;
  }



 #zen-explanation {
  margin-top: 10px;
}

}