@import url("https://fonts.googleapis.com/css?family=Creepster");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
$fonts-headline: "Creepster";
$fonts-body: "Special Elite";
$background-color: #151818;
$primary: #313131;
$accent1: #8e4e06;
$accent2: #6E3A9E;
$grey-sidebar: rgba(51,
55,
69,
0.9);
$text-dark: #333;
$text-light: #fff;
$background-image: "images/kraken.jpeg";