@import url("https://fonts.googleapis.com/css?family=Creepster");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
html {
    padding: 0%;
}

h1 {
    font-family: "Creepster";
    color: #6E3A9E;
    font-size: 3em;
    text-align: center;
}

h2,
h3,
h4 {
    font-family: "Creepster";
    color: rgb(25, 138, 131);
    font-size: 2em;
}

p {
    font-family: "Special Elite";
    color: #fff;
    font-size: 1em;
}

body {
    height: 25%;
    background-image: url("images/kraken.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: thunderHit;
    animation-duration: 0.4s;
    animation-iteration-count: 2;
    animation-delay: 0.8s;
}


/*
@mixin set-font($size: 1em, $line-height: normal, $font: $fonts-body) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
}

@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin uppercase($color: $text-dark) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color;
}
@mixin divider($color: $accent1) {
  border-top: 1px solid $color;
  margin-top: 1em;
  padding-top: 1.5em;
}
// these styles here should describe how the atoms (elements) should appear most of the time.  They can be overridden at the molecule (block) as necessary
h2,
h3,
h4 {
  font-family: $fonts-headline;
  margin: 0;
}
h1 {
  background: $accent1;
  color: $text-light;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}
h2 {
  color: $text-light;
  font-weight: 900; /* Heavy */


/*
font-size: 6em;
letter-spacing: 1px;
line-height: 1em;

}
h3 {
    font-size: 2.25em;
    font-weight: 200;

    letter-spacing: 1px;
    line-height: 1em;
    padding: 0.5em 0 0.25em 0;
}
h4 {
    font-size: 1.5em;
    font-weight: 200;

    letter-spacing: 1px;
    line-height: 1em;
    margin: 0.5em 0;
}
p {
    @include set-font(1em, 1.5em);
    padding: 0.5em 0;
    margin: 0;
}
a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: $text-dark;
    text-decoration: none;
    transition: border-color 0.2s ease-in-out;
}
a:hover {
    border-color: $accent1;
}
*/

div.page-wrapper div {
    background: rgba(128, 128, 128, 0.5);
}


/*[role="banner"] {
  > h1 {
    // notice we have to reference the 'atoms' namespace to find our mixins.
    @include atoms.uppercase($text-light);
  }
}
.summary {
  @include atoms.uppercase($text-light);
  padding: 15% 0;
  p:last-child {
    @include atoms.divider;
  }
  a {
    color: $text-light; //in this case the link wants to be light instead of the default dark
  }
}
.preamble {
  background: rgba(255, 255, 255, 0.9);
  color: $text-dark;
  margin-left: -30%;
  padding: 5% 5% 5% 30%;
}*/


/*.intro {
  padding: 5%;
}*/

* {
    box-sizing: border-box;
}

html {
    background-color: #151818;
    padding: 0%;
}

body {
    font-family: "Special Elite";
    font-size: 85%;
    color: #333;
    background-color: #313131;
    margin: 0;
    padding: 1em;
}


/*# sourceMappingURL=style.css.map */